body{ width: 95%;margin: 0 auto; padding: 0; font-size: 16px;}
.logheader{ background: lightgrey; width: 100%;}
.welcome{ width: 90%; margin: 0; padding: 0 64px; height: 1.5em; font: 1.2em bold; line-height: 1.5em;}
.logheader a{font: 0.8em bold;}
#banner{float: left;  font-size: 30px; margin-left: 20px;}
#banner a{text-decoration: none;}
#banner a:link,#banner a:visited,#banner a:hover{color: #288EB8; font-weight: bold;}
#nav{float: left; margin-left: 60px; list-style: none;}
#nav li{float: left; margin: 0 10px 0 0; padding: 0; font-family: "Lucida Grande",sana-serif; font-size: 80%;}
#nav ul li a{float: left; display: block; margin: 0; padding: 4px 8px; color: #333; text-decoration: none; border: 1px solid black; border-bottom: none;}
#nav ul{ float: left; width: 720px; margin: 0; padding: 10px 0 0 46px; list-style: none; background: url('../img/nav_bg.gif') repeat-x bottom left;}
#nav ul li a:hover{ color: #333; padding-bottom: 5px; border-color: #727377; background: #FFF;}
#search{float: right;}
#head{overflow: hidden; margin: 10px 0;}
#foot{clear: both;}
#wrap{width: 56%; margin: 0 80px; float: left;}
#sidebar{width: 20%;float: right; border-left: 1px solid gray; padding-left: 10px;}


.contents{clear: both; border-bottom: 1px dotted gray; padding-bottom: 8px;}
.contents h3{font-size: 16px;}
.contents a{text-decoration: none;}
.contents h3 a:link{color: #33aaff;}
.contents h3 a:visited{color: #333333;}
.contents h3 a:hover{color: #33aa33;}

.option {float: right; padding: 5px;}
.small{font-size: 12px; font-style: italic;}





