.container{width: auto; padding: 0 20px;}
#main{width: auto; padding: 20px 80px; margin: 20px; border: 1px solid #D6C7E1;}
#foot{margin-top: 20px;}
.mainleft{border-right: 1px solid #D6C7E1;}
.mainright{border-left: 1px solid #D6C7E1;}
.comments{padding: 0 30px; width: inherit;}
#cate{padding: 0 15px;}
.option{border-top: 1px solid #D6C7E1;}


